
/* 

Developer: Breeanna Henson

Table Of Contents
HEADER: universal selector,site name, #banner
Body: body, iframe, #bio, .submit, .col1 img, .col2 img, .col3 img, .col4 img
Links: a, a:visited, a:hover, a:active, img, li, .nav
Media Queries: All media Queries

Color Names:
#f0fcfc - Polar
#7bf - Light Sky Blue
#c37 - Medium Violet Red
#4a5 - Seagreen
#28c - Steel Blue
#fc6 - Sandy Brown


*/

/*Header*/

*{
    
   font-family: 'Ubuntu', sans-serif;
}

header{
    color: #7bf;
    font-size: 4em;
    margin-left: 2.5%;
}
#banner{
    
    margin-top: 2%;
}
/*Body*/

body{
    background: url(../images/noise.jpg);
    color: #f0fcfc;
    text-align: center;
    width: 98%;
    
}
iframe{
    
    border: none;
    height: 800px;
    margin-bottom: 5%;
    width: 800px;
}

#bio{
    background: url(../images/fullgroup.jpg) no-repeat;
    background-size: cover;
    border-radius: 20px 10px;
    height: 364px;
    margin: 1% 0 0 40%;
    width: 550px;
}

.submit{
    color: #7bf;
}
.col1 img, .col2 img, .col3 img, .col4 img{
    height: 250px;
    width: 250px;
}

/*Links*/
a{
     color: #c37;
    font: 4em;

}

a:visited{
    color: #4a5;
    
}
a:hover{
    color: #28c;
}
a:active{
    color: #fc6;
}
img{
    border-radius: 10px 20px;
    }

li{
    text-align: left;
}
 
.nav{
    font-size: 2em;
    line-height: 1.5em;
    list-style-type: none;
    text-align: left;
  
}

/*Media Queries*/

@media only screen and (min-width: 1400px) {
    
    #bandpicture{
    background: url("../images/900x600_pentatonix.jpg") no-repeat;/*pentatonix first band picture*/
    background-size: cover;
   border-radius: 20px 30px;
    color: transparent;
    height: 367px;
    margin-left: 40%;
    width: 550px;
}



#bandpicture:hover{
    background: url("../images/900x600_pentatonix_blackove.png") no-repeat;
    background-size: cover;
   border-radius: 20px 10px;
    color: #f0fcfc;
     height: 333px;
    padding: 1%;
    width: 500px;
}
    
}
@media only screen and (min-width: 1000px) and (max-width:1399px){
    
     #bio {
        
        margin-left: 15%;
    }
    #banner {
        
        height: 75px;
        width: 750px;
    }
}
    
@media only screen and (min-width: 720px) and (max-width:999px){
    body{
        
        width: 96%;
    }
    iframe {
        height: 600px;
        width: 600px;
    }
    
    .col1 img, .col2 img, .col3 img, .col4 img{
    height: 200px;
    width: 200px;
}
    #banner{
        
        height: 65px;
        width: 650px;
    }
    #bio{
        
        margin-left: 15%;
    }
    .bandinfo{
        margin-left: 2%;
    }
}

    @media screen only screen and (min-width: 0px) and (max-width:719px){
        * {
            text-align: left;
        
        }
        
        body {
            clear: both;
            text-align: left;
            width: 94%;
        }
        #bio{
            
            margin-left: 0;
        }
        iframe{
    
            border: none;
            height: 500px;
            margin-bottom: 5%;
            width: 500px;
}
        #banner{
            
            height: 50px;
            width: 500px;
        }
        .col1 img, .col2 img, .col3 img, .col4 img{
            height: 150px;
            width: 150px;
}
        #formupdate{
            
            margin-left: 2%;
        }
        
}
